@import "../../node_modules/angular-material/angular-material.scss";

.icon-more-horiz:before {
  content: '\e5d3';
}

.icon-mode-edit:before {
  content: '\e254';
}

.icon-delete-forever:before {
  content: '\e92b';
}

.icon-checkbox:before {
  content: '\e834';
}

.icon-checkbox-blank:before {
  content: '\e835';
}

.icon-add:before {
  content: '\e145';
}

.icon-close:before {
  content: '\e5cd';
}

md-card md-toolbar:not(.md-menu-toolbar) {
  background-color: #ffffff;
}

md-card md-toolbar:not(.md-menu-toolbar) md-icon {
  color: rgba(0, 0, 0, 0.87);
}
