head
    title Список задач

    meta(name='viewport' content='initial-scale=1, maximum-scale=1, user-scalable=no')

    link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700')
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet' href='/css/style.min.css')
