doctype html
html
    include includes/head
    body(layout='column' ng-controller='AppController as app')
        md-toolbar(layout='row' class='md-toolbar-tools')
            h1 Список задач

        div(layout='row' flex)
            md-content(class='md-padding' flex)
                todo-list

        script(src='/js/app.min.js')
